@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	@apply max-w-[1600px] overflow-hidden;
}

.navbar-scrolled {
	height: 60px;
	background-color: rgba(72, 85, 99, 0.7);
	transition: all 150ms;
}


.luxury {
	text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
		0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
	color: #fff6a9;

	text-align: center;
}