.cardcontent {
	background: rgb(69, 67, 67);
	background: radial-gradient(
		circle,
		rgba(69, 67, 67, 0.6937368697478992) 0%,
		rgba(32, 31, 32, 0.6433167016806722) 100%
	);
	transition: all 0.5s ease-in-out;
}
.icon {
	opacity: 0;
}
.cardcontent:hover .icon {
	opacity: 100%;
	transition: all 1s ease-in-out;
}
.text {
	transition-property: transform;
	transition-duration: 300ms;
	transform: translateX(50px);
}
.cardcontent:hover .text {
	transform: translateX(0);
	transition: all 0.5s ease-in-out;
}
.opptext {
	transition-property: transform;
	transition-duration: 300ms;
	transform: translateX(-50px);
}
.cardcontent:hover .opptext {
	transform: translateX(0);
	transition: all 0.5s ease-in-out;
}
